						<div class="row">
							<div class="col">
								<p>Login / Email:</p>
							</div>
							<div class="col">
								<input id="1" type="text" class="form-control" placeholder="" value="{{ user.email }}">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>Imię:</p>
							</div>
							<div class="col">
								<input id="2" type="text" class="form-control" placeholder="" value="{{ user.name }}">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>Nazwisko:</p>
							</div>
							<div class="col">
								<input id="3" type="text" class="form-control" placeholder="" value="{{ user.surname }}">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>Miasto:</p>
							</div>
							<div class="col">
								<input id="4" type="text" class="form-control" placeholder="" value="{{ user.city }}">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>Ulica:</p>
							</div>
							<div class="col">
								<input id="5" type="text" class="form-control" placeholder="" value="{{ user.street }}">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>Numer domu:</p>
							</div>
							<div class="col">
								<input id="6" type="text" class="form-control" placeholder="" value="{{ user.house_number }}">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p>Numer lokalu:</p>
							</div>
							<div class="col">
								<input id="7" type="text" class="form-control" placeholder="" value="{{ user.flat_number }}">
							</div>
						</div>