{% extends 'base.html' %}
{% load static %}

{% block content %}



    <div class="container conNews indexContainer">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->

                {% for post in posts_list %}

              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">

                    <div class="category"></div>
                  </div><a href="{{ post.get_absolute_url }}">
                    <h3 class="h4">{{ post.title }}</h3></a>
                  <p class="text-muted">{{ post.overview }}</p>
                  <footer class="post-footer d-flex align-items-center"><p class="author d-flex align-items-center flex-wrap">
                      <div class="title">Autor:</div>
                      <div class="title"><span>{{ post.author.user.first_name }} {{ post.author.user.last_name }}</span></div></p>
                    <div class="date"><i class="fa fa-clock-o"></i>{{ post.timestamp|date:"d-m-y" }}</div>
                    <div class="comments meta-last"><i class="fa fa-comment"></i>{{ post.comment_count }}</div>
                  </footer>
                </div>
              </div>

                {% endfor %}

            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
              {% if posts_list.has_previous %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ posts_list.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              {% if posts_list.has_previous %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ posts_list.previous_page_number }}" class="page-link">{{ posts_list.previous_page_number}}</a></li>
              {% endif %}
                {% if posts_list %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ posts_list.number }}" class="page-link active">{{ posts_list.number }}</a></li>
                {% endif %}
                {% if posts_list.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ posts_list.next_page_number }}" class="page-link">{{ posts_list.next_page_number}}</a></li>
                {% endif %}
                  {% if posts_list.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ posts_list.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                  {% endif %}
              </ul>
            </nav>

          </div>
        </main>
        <aside class="col-lg-4 asideMargin">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Szukaj newsów:</h3>
            </header>
            <form action="{% url 'searchPostResult' %}" class="search-form">
              <div class="form-group">
                <input type="text" name="q" placeholder="Szukaj...">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>

        </aside>
      </div>
    </div>
 {% endblock content %}