						<div class="row">
							<p>Treść:</p>
						</div>
						<div class="row">
							<textarea style="background-color: #e9ecef;" cols="100" rows="6" readonly>{{ entry.content }}</textarea>
						</div>
						<div style="margin-top: 25px; margin-bottom: 5px;" class="row">
							<div style="padding-top: 5px; padding-left: 0px;" class="col-2">
								<p>Nadawca:</p>
							</div>
							<div style="padding-right: 0px;" class="col-10">
								<input type="text" class="form-control" placeholder="" value="{{ adminEmail }}" readonly>
							</div>
						</div>
						<div style="margin-top: 5px; margin-bottom: 5px;" class="row">
							<div style="padding-top: 5px; padding-left: 0px;" class="col-4">
								<p>Temat odpowiedzi:</p>
							</div>
							<div style="padding-right: 0px;" class="col-8">
								<input id="1" type="text" class="form-control" placeholder="" value="">
							</div>
						</div>
						<div class="row">
							<p>Odpowiedź:</p>
						</div>
						<div class="row">
							<textarea id="2" cols="100" rows="6"></textarea>
						</div>