				<div class="row">
					<div style="width: 100%;" class="inner">
					<table id="exampleTable" class="table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>Operacje</th>
								
								<th onclick="users_sort(this, 1)" class="sortable {% if sortCol == 1 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">ID</th>
								
								<th onclick="users_sort(this, 2)" class="sortable {% if sortCol == 2 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">Login / Email</th>
								
								<th onclick="users_sort(this, 3)" class="sortable {% if sortCol == 3 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">Imię</th>
								
								<th onclick="users_sort(this, 4)" class="sortable {% if sortCol == 4 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">Nazwisko</th>
								
								<th onclick="users_sort(this, 5)" class="sortable {% if sortCol == 5 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">Miasto</th>
								
								<th onclick="users_sort(this, 6)" class="sortable {% if sortCol == 6 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">Ulica</th>
								
								<th onclick="users_sort(this, 7)" class="sortable {% if sortCol == 7 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">Numer domu</th>
								
								<th onclick="users_sort(this, 8)" class="sortable {% if sortCol == 8 %}{% if sortOrd == 1 %}asc{% else %}desc{% endif %}{% endif %} tfit">Numer lokalu</th>
								
								
							</tr>
						</thead>
						<tbody>
							{% for entry in entries %}
								<tr >
									<td style="text-align: center;" class="tfit">
										
										
										<button class="btn btn-primary" type="button" onclick="users_showEditModal(this)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
										
										<button class="btn btn-danger" type="button" onclick="users_showRemoveModal(this)"><i class="fa fa-trash" aria-hidden="true"></i></button>
									</td>
									
									
									<td class="tfit" id="1">{{ entry.id }}</td>
									
									
									
									<td class="tfit" id="2">{{ entry.email }}</td>
									
									
									
									<td class="tfit" id="3">{{ entry.name }}</td>
									
									
									
									<td class="tfit" id="4">{{ entry.surname }}</td>
									
									
									
									<td class="tfit" id="5">{{ entry.city }}</td>
									
									
									
									<td class="tfit" id="6">{{ entry.street }}</td>
									
									
									
									<td class="tfit" id="7">{{ entry.house_number }}</td>
									
									
									
									<td class="tfit" id="8">{{ entry.flat_number }}</td>
									
									
									
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th rowspan="1" colspan="1">Operacje</th>
								
								<th rowspan="1" colspan="1">ID</th>
								
								<th rowspan="1" colspan="1">Login / Email</th>
								
								<th rowspan="1" colspan="1">Imię</th>
								
								<th rowspan="1" colspan="1">Nazwisko</th>
								
								<th rowspan="1" colspan="1">Miasto</th>
								
								<th rowspan="1" colspan="1">Ulica</th>
								
								<th rowspan="1" colspan="1">Numer domu</th>
								
								<th rowspan="1" colspan="1">Numer lokalu</th>
								
								
							</tr>
						</tfoot>
					</table>
					</div>
				</div>
				
				<div style="padding-top: 15px;" class="row">
					
					<div style="padding-left: 0px;" class="col">
						<div class="dataTables_info" id="selectedColumn_info" role="status" aria-live="polite">Wyświetlono od {{ count_from }} do {{ count_to }} z {{ count_all }} wpisów</div>
					</div>
					
					
					<div style="padding-right: 0px;" class="col">
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-sm justify-content-end">
								<li {% if not prev is None %}style="cursor: pointer;"{% endif %} class="page-item {% if prev is None %}disabled{% endif %}"><a class="page-link" {% if not prev is None %}onclick="users_onPage({{ prev }})"{% endif %} tabindex="-1"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
								{% for page in pages %}
								<li {% if not page.active %}style="cursor: pointer;"{% endif %} class="page-item {{ page.active|yesno:'active,' }}"><a class="page-link" {% if not page.active %}onclick="users_onPage({{ page.num }})"{% endif %}>{{ page.num }}</a></li>
								{% endfor %}
								<li {% if not next is None %}style="cursor: pointer;"{% endif %} class="page-item {% if next is None %}disabled{% endif %}"><a class="page-link" {% if not next is None %}onclick="users_onPage({{ next }})"{% endif %}><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
				