						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Nick:</p>
							</div>
							<div class="col">
								
								<input id="1" type="text" class="form-control" placeholder="" value="{{ entry.name }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Email:</p>
							</div>
							<div class="col">
								
								<input id="2" type="text" class="form-control" placeholder="" value="{{ entry.email }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Zawartość:</p>
							</div>
							<div class="col">
								
								<input id="3" type="text" class="form-control" placeholder="" value="{{ entry.content }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Data:</p>
							</div>
							<div class="col">
								
								<input id="4" type="date" class="form-control" value="{{ entry.time }}"/>
								
								
							</div>
						</div>
						