						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Hasło:</p>
							</div>
							<div class="col">
								
								<input id="1" type="password" class="form-control" placeholder="Nie zmienione" value=""/>
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Imię:</p>
							</div>
							<div class="col">
								
								<input id="2" type="text" class="form-control" placeholder="" value="{{ entry.first_name }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Nazwisko:</p>
							</div>
							<div class="col">
								
								<input id="3" type="text" class="form-control" placeholder="" value="{{ entry.last_name }}">
								
								
							</div>
						</div>
						