						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Hasło:</p>
							</div>
							<div class="col">
								
								<input id="1" type="password" class="form-control" placeholder="Nie zmienione" value=""/>
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Nazwa firmy:</p>
							</div>
							<div class="col">
								
								<input id="2" type="text" class="form-control" placeholder="" value="{{ entry.company_name }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Miasto:</p>
							</div>
							<div class="col">
								
								<input id="3" type="text" class="form-control" placeholder="" value="{{ entry.city }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Ulica:</p>
							</div>
							<div class="col">
								
								<input id="4" type="text" class="form-control" placeholder="" value="{{ entry.street }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Numer domu:</p>
							</div>
							<div class="col">
								
								<input id="5" type="text" class="form-control" placeholder="" value="{{ entry.house_number }}">
								
								
							</div>
						</div>
						
						<div class="row">
							<div style="padding-top: 5px;" class="col">
								<p>Numer lokalu:</p>
							</div>
							<div class="col">
								
								<input id="6" type="text" class="form-control" placeholder="" value="{{ entry.flat_number }}">
								
								
							</div>
						</div>
						