
/* Ogólny styl */

body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: url("../img/newbg.jpg"); /*-webkit-gradient(linear, left bottom, left top, from(#ff6a00), to(#ee0979)); */
  background: url("../img/newbg.jpg");/*linear-gradient(0deg, #ff6a00 0%, #ee0979 100%); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
  color: #0A246A;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
  color: #0A246A;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #3333ff;
  border-color: #3300ff;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #3300cc !important;
  border-color: #330099 !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.index-container {
  margin-top: 2%;
  margin-bottom: 2%;
}


/* STYL NEWSÓW NA STRONIE INDEX */

section.featured-posts .row:nth-of-type(odd) .text {
  background: #fafafa;
}

section.featured-posts .row:last-of-type {
  margin-bottom: 0;
}

section.featured-posts p {
  font-weight: 400;
  color: #777;
  font-size: 0.95em;
}

section.featured-posts .text-inner {
  padding: 70px 30px;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.featured-posts a {
  color: inherit;
  text-decoration: none;
}

section.featured-posts h2 {
  line-height: 1.1em;
  color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.featured-posts h2:hover {
  color: #555;
}

section.featured-posts .avatar {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

section.featured-posts .title,
section.featured-posts .date,
section.featured-posts .comments {
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
}

section.featured-posts .title i,
section.featured-posts .date i,
section.featured-posts .comments i {
  margin-right: 5px;
}

section.featured-posts .title::after,
section.featured-posts .date::after,
section.featured-posts .comments::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}

section.featured-posts .comments::after {
  display: none;
}

section.featured-posts .image {
  height: 50vh;
  width: auto;
  overflow: hidden;
  padding: 0;
}

section.container{
	margin-bottom: 2%;
}

section.featured-posts .image img {
  height: 100%;
}

section.featured-posts .post-header {
  margin-bottom: 10px;
}

section.featured-posts .post-footer {
  margin-top: 30px;
}

/* Posts Section Media Query */ 

@media (max-width: 991px) {
  section.featured-posts .image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-height: 300px;
    min-height: auto !important;
  }
  section.featured-posts .image img {
    width: 100%;
    height: auto !important;
  }
  section.featured-posts .text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (max-width: 575px) {
  section.featured-posts .post-footer {
    font-size: 0.9em;
  }
}

@media (max-width: 350px) {
  section.featured-posts .text-inner {
    padding: 15px;
  }
  section.featured-posts .post-footer {
    font-size: 0.75em;
  }
}

/* FORMULARZ LOGOWANIA */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
     
.form-signin .btn-reg {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/* news.html style */

section.latest-posts header {
  margin-bottom: 50px;
}

.post-meta {
  margin: 10px 0;
  font-size: 0.8em;
}

.post-meta .date {
  text-transform: uppercase;
  font-weight: 400;
}

.post-meta .date::after {
  display: none;
}

.post p:not(.lead) {
  font-weight: 400;
  color: #777;
  font-size: 0.95em;
}

.post a {
  text-decoration: none;
}

.post a:hover, .post a:focus {
  text-decoration: none;
}

.post h3 {
  line-height: 1.1em;
  color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

.post h3:hover {
  color: #555;
}

.post .category a {
  color: #999;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.post .date {
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #aaa;
}

.post .avatar {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.post .title,
.post .date,
.post .comments,
.post .views {
  font-weight: 400;
  color: #999;
}

.post .title i,
.post .date i,
.post .comments i,
.post .views i {
  margin-right: 5px;
  font-size: 1.1em;
}

.post .title::after,
.post .date::after,
.post .comments::after,
.post .views::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}

.post .post-tags {
  margin-top: 30px;
}

.post .post-tags .tag {
  padding: 5px 25px;
  border: 1px solid #ddd;
  margin: 5px;
  color: #777;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
}

.post .post-tags .tag:hover {
  background: #999;
  color: #fff;
  border-color: #999;
}

.post .meta-last::after {
  display: none;
}

/* Latest Posts Section Media Query ------------------------------------- */
@media (max-width: 767px) {
  .post {
    margin-bottom: 40px;
  }
  .post:last-of-type {
    margin-bottom: 0;
  }
}

main.posts-listing {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

main.posts-listing .post {
  margin-bottom: 50px;
}

main.posts-listing .post-footer {
  font-size: 0.8em;
}

.widget.search .form-group {
  position: relative;
}

.widget.search input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 0.95em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: none;
}

.widget.search input::-moz-placeholder {
  color: #aaa;
  font-family: "Open Sans", sans-serif;
}

.widget.search input::-webkit-input-placeholder {
  color: #aaa;
  font-family: "Open Sans", sans-serif;
}

.widget.search input:-ms-input-placeholder {
  color: #aaa;
  font-family: "Open Sans", sans-serif;
}

.widget.search .submit {
  height: 40px;
  padding: 0;
  line-height: 40px;
  background: none;
  border: none;
  color: #555;
  font-size: 0.9em;
  position: absolute;
  top: 0;
  right: 0;
}

.widget.latest-posts a {
  display: block;
  color: #555;
  text-decoration: none;
}

.widget.latest-posts a:hover {
  color: #000;
}

.widget.latest-posts .image {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 20px;
}

.widget.latest-posts .item {
  margin-bottom: 20px;
}

.widget.latest-posts strong {
  font-size: 0.95em;
  display: block;
  line-height: 1em;
}

.widget.latest-posts .views,
.widget.latest-posts .comments {
  font-size: 0.8em;
  font-weight: 400;
  color: #bbb;
  margin-top: 10px;
}

.widget.latest-posts .views i,
.widget.latest-posts .comments i {
  margin-right: 5px;
}

.widget.latest-posts .views::after,
.widget.latest-posts .comments::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}

.widget.latest-posts .comments::after {
  display: none;
}

.blog-post {
  padding-left: 0;
  padding-right: 0;
}

.blog-post .post-footer {
  font-size: 0.8em;
}

.blog-post .post-thumbnail img {
  width: 100%;
  margin-bottom: 10px;
}

.blog-post h1 {
  color: #444;
  line-height: 1.1em;
}

.blog-post h1:hover {
  color: #444;
}

.blog-post .post-footer {
  margin-top: 20px;
}

.blog-post .post-body {
  margin-top: 40px;
}

.blog-post .post-body h2,
.blog-post .post-body h3,
.blog-post .post-body h4,
.blog-post .post-body h5,
.blog-post .post-body h6 {
  color: #333;
}

.blog-post .post-body p {
  margin-bottom: 30px;
}

.blog-post .post-body p:not(.lead) {
  font-size: 1em;
  line-height: 1.7em;
  color: #555;
}

.blog-post .posts-nav {
  margin-top: 50px;
  color: #777;
  font-size: 0.8em;
}

.blog-post .posts-nav a {
  color: inherit;
  width: calc(50% - 10px);
  padding: 10px 20px;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

.blog-post .posts-nav a:hover {
  border-color: #999;
}

.blog-post .posts-nav a:hover .icon {
  background: #999;
  color: #fff;
  border-color: #999;
}

.blog-post .icon {
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 32px;
  border: 1px solid #ddd;
  color: #aaa;
  font-size: 1.5em;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blog-post .icon.prev {
  margin-right: 20px;
}

.blog-post .icon.next {
  margin-left: 20px;
}

.blog-post .post-comments {
  margin-top: 50px;
}

.blog-post .post-comments span.no-of-comments {
  color: #777;
  font-size: 0.8em;
  margin-left: 5px;
  font-weight: 400;
}

.blog-post .post-comments header {
  margin-bottom: 40px;
}

.blog-post .post-comments .comment:last-of-type .comment-body {
  border-bottom: none;
}

.blog-post .post-comments .image {
  margin-right: 15px;
}

.blog-post .post-comments .title::after {
  display: none;
}

.blog-post .post-comments img {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
}

.blog-post .post-comments strong {
  display: block;
  color: #555;
}

.blog-post .post-comments span.date {
  font-size: 0.8em;
  color: #999;
}

.blog-post .post-comments span.date::after {
  display: none;
}

.blog-post .post-comments .comment-body {
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.blog-post .post-comments p {
  font-size: 0.95em;
  color: #555;
}

.blog-post .add-comment {
  margin-top: 50px;
}

.blog-post .add-comment header {
  margin-bottom: 30px;
}

.blog-post .add-comment input,
.blog-post .add-comment textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input::-moz-placeholder,
.blog-post .add-comment textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 0.9em;
  color: #aaa;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input::-webkit-input-placeholder,
.blog-post .add-comment textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 0.9em;
  color: #aaa;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input:-ms-input-placeholder,
.blog-post .add-comment textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.9em;
  color: #aaa;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.blog-post .add-comment input:focus,
.blog-post .add-comment textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #999;
}

.blog-post .add-comment textarea {
  min-height: 150px;
}

blockquote.blockquote {
  font-size: 1.05em;
  line-height: 1.7em;
  border-color: #999;
  border: 1px solid #eee;
  border-left: 6px solid #eee;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 30px;
}

blockquote.blockquote p {
  margin-bottom: 15px !important;
}

@media (max-width: 767px) {
  .posts-nav a {
    width: 100% !important;
  }
}

@media (max-width: 575px) {
  .blog-post .title::after {
    display: none !important;
  }
  .blog-post .author {
    margin-bottom: 10px;
  }
}


/*
 * 4. PAGINATION
 */
.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.page-item.disabled .page-link {
  color: #868e96;
  background-color: #fff;
  border-color: #ddd;
}

.page-link {
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: #999;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-link:focus, .page-link:hover {
  color: #737373;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.conNews {
    margin-top: 5%;
}

.asideMargin{
    margin-top: 10%;
}

.indexContainer{
    margin-bottom: 2%;
}

footer{
  margin-top: 7%;
}
